*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(240, 240, 240);
}

header{
  width: 100%;
  background-color: white;
}

header img{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.text{
  font-weight: bold;
  font-size: 2.5em;
}

main{
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  background-color: white;
}

main section{
  padding: 20px 50px;
}

button{
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#task{
  background-color: #23a9e5;
  color: white;
}

#section{
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.button-section{
  border-bottom: 5px solid rgb(240, 240, 240);;
}

section span{
  font-weight: bold;
  font-size: 1.5em;
}

section span::before{
  content: '\25BE';
}

ul li{
  padding: 10px 25px;
  list-style-type: none;
}

ul li:before{
  content: '\2713';
  margin-right: 10px;
  color: green;
  border: 1px solid green;
  padding: 2px;
  border-radius: 50%;
}

.cross::before{
  content: none;
  content: '\2717';
  margin-right: 10px;
  color: red;
  border: 1px solid red;
  padding: 2px;
  border-radius: 50%;
}